body {
  font-size: 14px;
}

nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

h1 {
  font-family sans-serif;
  font-size: 2em;
}

/* moved h1 above section to align with order of appearance in html */

section {
  margin: auto;
  width: 60%;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}

h3 {
   font-size: 1.3em;
}

.element {
  background-color: green;
  height: 100px;
  margin: 10px;
  width: 100%;
}

.element.pink {
  background-color: pink;
}
  
